.ticket {
	width: 100%;
	flex-direction: column;

	border-radius: 3px;
	overflow: hidden;
	background-color: white;

	h2 {
		color: #00000066;
		font-size: 0.7rem;
		padding-bottom: 0.6rem;
	}
}

.ticket__what {
	padding: 0.5rem 1rem;
}

.ticket__title {
	font-family: 'Sansita';
	font-size: 1.5rem;
	font-weight: 800;
	font-style: italic;
	color: var(--pink);
}

.ticket__where {
	padding: 0.5rem 1rem;
	border-top: var(--ticket-dash);
	background-color: var(--ticket-shadow-3);
}

.ticket__date-time {
	display: flex;
	flex-direction: row;
	border-top: var(--ticket-dash);
	background-color: var(--ticket-shadow-6);
	section {
		padding: 0.5rem 1rem;
		flex: 1;
	}

	p {
		font-weight: 600;
	}
}
.ticket__from {
	border-left: var(--ticket-dash);
	border-right: var(--ticket-dash);
}

.ticket__info {
	padding: 0.5rem 1rem;

	background-color: var(--ticket-shadow-9);
	border-top: var(--ticket-dash);
}

.ticket__identifier {
	padding: 0.5rem 1rem;

	background-color: var(--ticket-shadow-12);
	text-align: center;

	.ticket__barcode {
		padding-top: 1.5rem;
		margin-bottom: -1.5rem;
		/* transform: scale(1, -1); */
		align-items: flex-end;
		font-family: 'Libre Barcode 128';
		font-size: 5rem;
		font-weight: 500;
		color: black;
	}

	.ticket__id {
		color: #00000066;
		font-size: 0.7rem;
		font-weight: 700;
		letter-spacing: 3px;
	}
}
