* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 375px;
	height: 667px;
	margin: auto;
	background-color: #231f42;
}

:root {
	--primary-bg: #231f42;
	--pink: #f56b9a;
	--teal: #37aeab;

	--ticket-shadow-3: rgba(0, 0, 0, 0.03);
	--ticket-shadow-6: rgba(0, 0, 0, 0.06);
	--ticket-shadow-9: rgba(0, 0, 0, 0.09);
	--ticket-shadow-12: rgba(0, 0, 0, 0.12);
}
