.home-page {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	align-items: center;
}

.home-page__img {
	width: 50%;
}

/* .home-page__title {
} */

.home-page__subtitle {
	color: white;
	font-size: 1.4rem;
	font-weight: 300;
	font-style: italic;
}
