.add-event-page {
	width: 100%;
	height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
}

.add-event-page__header {
	position: relative;
}

.add-event-page__animate-added {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0px;
	width: 110px;
	height: 50px;
	background-color: white;
	color: black;
	border-radius: 3px;
}
.test {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 4px;
	top: -7px;
	transform: rotate(45deg);
	border-radius: 3px;
	background-color: white;
}

.add-event-page__subtitle {
	font-style: italic;
	color: #ffffffcc;
}

.add-event-page__info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
}

.add-event-page__event-title {
	font-style: italic;
	color: var(--pink);
}

.add-event-page__date {
	color: var(--teal);
}

.add-event-page__location {
	font-style: italic;
	color: #ffffffb2;
}

.add-event-page__cost {
	text-align: center;
	padding: 1.4rem 0;
	font-size: 2rem;
	text-shadow: 1px 1px 0 var(--pink);
}
